*.as    text
*.conf  text
*.css   text
*.htm   text
*.html  text
*.js    text
*.log   text
*.mxml  text
*.php   text
*.phtml text
*.pl    text
*.pm    text
*.pot   text
*.sql   text
*.txt   text
*.xml   text
*.xsl   text
*.rb    text

